# Datasets
annotations/
datasets/
create_datasets/original_videos_annotations/

#VideoMAE
outputs/

# OPtical FLOW
**/optical_flow_old_for_videos.py
outputs_optical_flow_old/
outputs_optical_flow/


# YOLO approach
Test_result/
labels_yolo_predicted/ 
labels_reviewed_2/
dataset_half_v1/
dataset_v2_eye_frames_downsampled/
labels_extra_blink_only/
labels_extra_blink_only_2/
old_files/